<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CATEGORIA | {% if update %} UPDATE {% else %} CREATE {% endif %}</title>
</head>
<body>
<h1>{% if update %} UPDATE {% else %} CREATE {% endif %} CATEGORIA</h1>
{% if update %}
<h2>ID: {{ categoria.category_id }}</h2>
{% endif %}
<br>
<button><a href="{% url 'lista_categorias' %}">LISTA CATEGORIAS</a></button>
<hr>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% if update %}
        <button><a href="{% url 'detail_categoria' id=categoria.category_id %}">CANCELAR</a></button>
    {% endif %}
    <input type="submit" value="{% if update %} ACTUALIZAR!! {% else %} CRIAR!! {% endif %}">
</form>

</body>
</html>